:root {
  font-size: 1dvmax;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
}

main {
  height: 100dvh;
  width: 100dvw;
  background-color: rgb(15, 15, 15);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  background-size: cover;
  background-position: center;
  height: 329px;
  width: 434px;
  transform: scale(110%);
  box-shadow: inset 0 0 50px 20px rgb(0, 0, 0);
  border-radius: 5%;
}

h2 {
  font-size: 8pt;
  font-weight: 400;
  text-transform: uppercase;
}

figcaption {
  font-weight: 500;
}

h2,
figcaption {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(255, 255, 255, 0.9);
}

figure {
  border-radius: 100%;
  box-shadow: 0 0 5px 15px rgb(10, 10, 10), inset 0 0 15px 15px rgb(10, 10, 10);
}
